# Server Configuration
SECRET_KEY=your-secret-key
HOST=http://localhost
PORT=21465
DEVICE_NAME=WppConnect
POWERED_BY=WPPConnect-Server
START_ALL_SESSION=true
TOKEN_STORE_TYPE=file
MAX_LISTENERS=15
CUSTOM_USER_DATA_DIR=./userDataDir/

# Webhook Configuration
WEBHOOK_URL=https://your-webhook-url.com/webhook
WEBHOOK_AUTO_DOWNLOAD=false
WEBHOOK_UPLOAD_S3=false
WEBHOOK_READ_MESSAGE=true
WEBHOOK_ALL_UNREAD_ON_START=false
WEBHOOK_LISTEN_ACKS=true
WEBHOOK_ON_PRESENCE_CHANGED=true
WEBHOOK_ON_PARTICIPANTS_CHANGED=true
WEBHOOK_ON_REACTION_MESSAGE=true
WEBHOOK_ON_POLL_RESPONSE=true
WEBHOOK_ON_REVOKED_MESSAGE=true
WEBHOOK_ON_LABEL_UPDATED=true
WEBHOOK_ON_SELF_MESSAGE=false
WEBHOOK_IGNORE=status@broadcast

# WebSocket Configuration
WEBSOCKET_AUTO_DOWNLOAD=false
WEBSOCKET_UPLOAD_S3=false

# Chatwoot Configuration
CHATWOOT_SEND_QR_CODE=true
CHATWOOT_SEND_STATUS=true

# Archive Configuration
ARCHIVE_ENABLE=false
ARCHIVE_WAIT_TIME=10
ARCHIVE_DAYS_TO_ARCHIVE=45

# Log Configuration
LOG_LEVEL=silly
LOG_LOGGER=console,file

# Browser Arguments
# BROWSER_ARGS=--disable-web-security,--no-sandbox,--disable-web-security

# Link Preview API Servers
# LINK_PREVIEW_API_SERVERS=https://www.yourserver.com/wa-js-api-server

# Mapper Configuration
MAPPER_ENABLE=false
MAPPER_PREFIX=tagone-

# MongoDB Configuration
MONGODB_DATABASE=tokens
MONGODB_COLLECTION=
MONGODB_USER=
MONGODB_PASSWORD=
MONGODB_HOST=
MONGODB_IS_REMOTE=true
MONGODB_URL_REMOTE=
MONGODB_PORT=27017

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0
REDIS_PREFIX=docker

# AWS S3 Configuration
AWS_S3_REGION=sa-east-1
AWS_S3_ACCESS_KEY_ID=
AWS_S3_SECRET_KEY=
AWS_S3_DEFAULT_BUCKET_NAME=
AWS_S3_ENDPOINT=
AWS_S3_FORCE_PATH_STYLE=false
