/.env
/dist
/node_modules
/swagger-docs
/.vs
/bin
/log
/obj/Debug
/tokens
/uploads
/data
/WhatsAppImages
/wppconnect-server.njsproj
/wppconnect-server.njsproj.user
*.sln
/package-lock.json
*.png
*.tgz
/.idea
/tokens_bkp
