/.env
/dist
/node_modules
/swagger-docs
/.vs
/bin
/log
/obj/Debug
/tokens
/uploads
/WhatsAppImages
/wppconnect-server.njsproj
/wppconnect-server.njsproj.user
*.sln
/package-lock.json
*.png
*.tgz
*.zip
/.idea
userDataDir
/yarn-error.log
.yarn/install-state.gz
backupFolder
tokens/*
wppconnect_tokens/*