version: "3"

services:
  wppconnect:
    container_name: wpp-server
    restart: unless-stopped
    build:
      context: .
    volumes:
      - ./config.ts:/usr/src/wpp-server/config.ts
      - ./wppconnect_tokens:/usr/src/wpp-server/tokens
      - /home/wppconnect-sessions/:${USER_DATA_DIR}
    environment:
      SECRET_KEY: ${SECRET_KEY}
      PUBLIC_URL: ${PUBLIC_URL}
      PUBLIC_PORT: ${PUBLIC_PORT}
      START_ALL_SESSION: ${START_ALL_SESSION}
      TOKEN_STORE_TYPE: ${TOKEN_STORE_TYPE}
      MAX_LISTENERS: ${MAX_LISTENERS}
      USER_DATA_DIR: ${USER_DATA_DIR}
      WEBHOOK_AUTO_DOWNLOAD: ${WEBHOOK_AUTO_DOWNLOAD}
      WEBHOOK_UPLOAD_S3: ${WEBHOOK_UPLOAD_S3}
      READ_MESSAGE: ${READ_MESSAGE}
      ALL_UNREAD_ON_START: ${ALL_UNREAD_ON_START}
      LISTEN_ACKS: ${LISTEN_ACKS}
      ON_PRESENCE_CHANGED: ${ON_PRESENCE_CHANGED}
      ON_PARTICIPANTS_CHANGED: ${ON_PARTICIPANTS_CHANGED}
      ON_REACTION_MESSAGE: ${ON_REACTION_MESSAGE}
      ON_POLL_RESPONSE: ${ON_POLL_RESPONSE}
      ON_REVOKED_MESSAGE: ${ON_REVOKED_MESSAGE}
      ON_LABEL_UPDATED: ${ON_LABEL_UPDATED}
      ON_SELF_MESSAGE: ${ON_SELF_MESSAGE}
      WEBSOCKET_AUTO_DOWNLOAD: ${WEBSOCKET_AUTO_DOWNLOAD}
      WEBSOCKET_UPLOAD_S3: ${WEBSOCKET_UPLOAD_S3}
      CHATWOOT_SEND_QR_CODE: ${CHATWOOT_SEND_QR_CODE}
      CHATWOOT_SEND_STATUS: ${CHATWOOT_SEND_STATUS}
      ENABLE_ARCHIVE: ${ENABLE_ARCHIVE}
      WAIT_TIME: ${WAIT_TIME}
      DAYS_TO_ARCHIVE: ${DAYS_TO_ARCHIVE}
      LOG_LEVEL: ${LOG_LEVEL}
      LOG_LOGGER: ${LOG_LOGGER}
      ENABLE_MAPPER: ${ENABLE_MAPPER}
      MAPPER_PREFIX: ${MAPPER_PREFIX}
      MONGODB_IS_REMOTE: ${MONGODB_IS_REMOTE}
      MONGODB_URL_REMOTE: ${MONGODB_URL_REMOTE}
      MONGODB_PORT: ${MONGODB_PORT}
      MONGODB_DATABASE: ${MONGODB_DATABASE}
      MONGODB_COLLECTION: ${MONGODB_COLLECTION}
      MONGODB_USER: ${MONGODB_USER}
      MONGODB_PASSWORD: ${MONGODB_PASSWORD}
      MONGODB_HOST: ${MONGODB_HOST}
      REDIS_HOST: ${REDIS_HOST}
      REDIS_PORT: ${REDIS_PORT}
      REDIS_PASSWORD: ${REDIS_PASSWORD}
      REDIS_DB: ${REDIS_DB}
      REDIS_PREFIX: ${REDIS_PREFIX}
      DISABLE_READ_MESSAGE: ${DISABLE_READ_MESSAGE}
      DISABLE_PRESENCE_CHANGED: ${DISABLE_PRESENCE_CHANGED}
      DISABLE_PARTICIPANTS_CHANGED: ${DISABLE_PARTICIPANTS_CHANGED}

volumes:
  wppconnect_tokens: {}      