name: CONSTRUIR E PUBLICAR DOCKER

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Login no Registry Privado
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.REGISTRY }}
          username: ${{ secrets.REGISTRY_USER }}
          password: ${{ secrets.REGISTRY_PASSWORD }}

      - name: Build da imagem Docker
        run: |
          docker build -t ${{ secrets.REGISTRY }}/api_wpp:latest .

      - name: Enviar imagem para o registry
        run: |
          docker push ${{ secrets.REGISTRY }}/api_wpp:latest


      